@import "../variables.scss";

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(10px, 100%, 500px);
    > h2 {
      @media (max-width: $smallWindow) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    > p {
      text-align: center;
    }
  }
}
