@import "../variables.scss";

.expo-modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.3);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  .expo-modal-content {
    position: relative;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: clamp(20px, 650px, 90%);
    background-color: white;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    box-sizing: border-box;
    .expo-modal-header {
      display: flex;
      justify-content: flex-end;
      > button {
        color: $mainColor;
      }
    }
    .expo-modal-main {
      overflow-y: auto;
      max-height: 80vh;

      > p {
        margin-bottom: 20px;
      }
      h4 {
        margin-top: 20px;
        margin-bottom: 15px;
      }
      .generic-credentials {
        margin-left: 20px;
      }
      .expo-button {
        display: flex;
        justify-content: center;
        margin-top: 20px;
      }
    }
  }
}
