@import "../variables.scss";

.fixed-trait {
  border-left: 1px solid $grey;
  height: 120px;
  margin-top: 30px;
}
.email-address {
  z-index: 2;
  position: fixed;
  bottom: 0px;
  right: 50px;
  @media (max-width: $largeWindow) {
    right: 20px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  > p {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-family: "roboto mono";
    font-size: 14px;
  }
  @media (max-width: $largeWindow) {
  }
  @media (max-width: $mediumWindow) {
    display: none;
  }
}
.social-networks {
  z-index: 2;
  position: fixed;
  bottom: 0px;
  left: 50px;
  @media (max-width: $largeWindow) {
    left: 20px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: $largeWindow) {
  }
  @media (max-width: $mediumWindow) {
    display: none;
  }
}
