@import "../variables.scss";
main {
  margin: 0 auto;
  padding: 0 150px;
  background-color: white;
  .title-number {
    font-family: "roboto mono";
    font-size: 20px;
    margin-right: 10px;
    color: $grey;
  }
}
