@import "../variables.scss";
.project-reverse {
  margin-top: 10px;
  margin-bottom: 80px;
  .project-content {
    display: flex;
    .project-images {
      display: flex;
      flex: 6;
      justify-content: space-evenly;
    }
    .project-presentation {
      flex: 5;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      .project-description {
        margin-bottom: 10px;
      }
      .project-role {
        font-family: "roboto mono";
        font-size: 14px;
      }
      .stack {
        margin-bottom: 20px;
        font-family: "roboto mono";
        font-size: 14px;
        span {
          margin-right: 10px;
          a {
            font-size: 14px;
          }
        }
      }
      .github-logo {
        height: 30px;
      }
    }
  }
}
