@import "../variables.scss";
.project {
  margin-top: 10px;
  margin-bottom: 80px;
  @media (max-width: $largeWindow) {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .project-content {
    display: flex;
    .project-images {
      display: flex;
      flex: 6;
      justify-content: space-evenly;
      @media (max-width: $largeWindow) {
        margin-top: 20px;
      }
    }
    .project-presentation {
      flex: 5;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .project-description {
        margin-bottom: 10px;
      }
      .project-role {
        font-family: "roboto mono";
        font-size: 14px;
        color: $grey;
      }
      .stack {
        margin-bottom: 20px;
        font-family: "roboto mono";
        font-size: 14px;
        display: flex;
        flex-wrap: wrap;
        span {
          margin-right: 10px;
          a {
            font-size: 14px;
          }
        }
      }
      .project-footer {
        display: flex;
        align-items: center;
        .github-logo {
          height: 30px;
          margin-right: 20px;
        }
        .try-me {
          font-family: "roboto mono";
          font-size: 24px;
          margin-bottom: 1px;
          color: $mainColor;
        }
      }
    }
  }
}
