@import "../variables.scss";

.social-networks-content {
  display: flex;
  align-items: center;
  a {
    margin-top: 10px;
    @media (max-width: $mediumWindow) {
      &:first-child {
        margin-right: 20px;
      }
    }
  }
}
