// VARIABLES INITIALIZATION
$lightGrey: #e5e5e5;
$darkGrey: #616165;
$grey: #98989d;
$mainColor: #5e5ce6;
$black: hsla(0, 0%, 0%, 0.8);

// RESPONSIVE WIDTH
$mobile: 360px;
$smallWindow: 576px;
$mediumWindow: 768px;
$largeWindow: 992px;
$windowsWidth: 1200px;
