// COLORS
$lightGrey: #e5e5e5;
$darkGrey: #616165;
$grey: #98989d;
$mainColor: #5e5ce6;
// $mainColor: #28cd41;
// $mainColor: #ff9500;
// $mainColor: #ff2d55;
// $mainColor: #59adc4;
// $mainColor: #55bef0;
// $mainColor: #ffcc00;
// $mainColor: #efd81d;
// $secondColor: #5e5ce6;
// $secondColor: #28cd41;
// $secondColor: #ff9500;
// $secondColor: #ff2d55;
// $secondColor: #59adc4;
$secondColor: #55bef0;
// $secondColor: #ffcc00;
// $secondColor: #efd81d;
$black: hsla(0, 0%, 0%, 0.8);

// RESPONSIVE WIDTH
$mobile: 360px;
$smallWindow: 576px;
$mediumWindow: 768px;
$largeWindow: 992px;
$windowsWidth: 1200px;
